<!DOCTYPE html>
<html>
    <head>
        <title> 404 page</title>
        <link rel="stylesheet" href="./css/style.css">
    </head>

    <body>
        <h1>Page not found please visit the navigation below!</h1>
        {{>header}}
    </body>
    
</html>