<!DOCTYPE html>
<html>
<head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="./css/style.css">
    <script src="./js/app.js"></script>
</head>
<body>
    {{>header}} 
    <img src="/img/photo.jpg" alt="picture" height="320px" width="400px">
    <p>Created by Sumit Chaudhary</p>
    {{>footer}}
</body>
</html>