<!DOCTYPE html>
<html>
<head>
    <title> {{title}}</title>
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    {{>header}}  
        <p> follow me on instagram : @sumit_chaudhary_</p>
    {{>footer}}
</body>
</html>